#modal-content {
    width: 50%;
    padding-bottom: 30px;
    border-radius: 10px;
}

.signup-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
}

.signup-form-container h1 {
    font-size: 25px;
}

.signup-error-container {
    margin: 10px;
    height: 20px;
}

.signup-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signup-form input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(224, 218, 218);
    padding-left: 8px;
    font-size: 13px;
}

.signup-form button {
    width: 100%;
    height: 30px;
    color: white;
    border: none;
    /* box-shadow: 5px 5px 5px; */
    /* background-color: rgb(232, 118, 118); */
    color: rgb(126, 128, 130);
    border: 1px solid rgb(224, 218, 218);
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(126, 128, 130);
    cursor: pointer;
}
