#modal-content p {
    margin: 10px 0;
    width: 100%;
    text-align: center;
}

.confirm-delete-spot-button {
    margin: 10px 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.confirm-delete-spot-button button {
    width: 80%x;
    height: 30px;
    color: white;
    border: none;
    box-shadow: 3px 3px 5px rgb(126, 128, 130);
    color: rgb(126, 128, 130);
    border: 1px solid rgb(224, 218, 218);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}