/*spotIndex*/

.spots-container {
    /* background-color: pink; */
    padding: 20px 40px;
}

.spot-image {
    width: 100%;
    height: 150px;
    border-radius: 5px;
}
.spots-ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#spot-li {
    list-style-type: none;
}

.spot-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "city city rating"
        "price price price";
    padding: 5px 8px;
    gap: 5px;
}

.spot-details p {
    font-size: 12px;

}

#city-state {
    grid-area: city;
}

#rating {
    grid-area: rating;
    text-align: right;
}

.rating i {
    font-size: 9px;
    color: rgb(56, 147, 166)
}

#price {
    grid-area: price
}

/* image tooltips*/

.tooltip {
    background-color: pink;
}

/*Spot Show*/

.spotshow-container {
    padding: 20px 40px;
    width: 1000px;
}

.spotshow-container h2,
h3  {
    margin-bottom: 8px;
}

.spotshow-container p {
    font-size: 14px;
}

.spot-image-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: 
    "img1 img2 img3"
    "img1 img4 img5";
    gap: 8px;
    margin-top: 10px;
    width: 100%;
    height: 345px;
}

.spot-image-container li {
    border: 1px solid rgb(224, 218, 218);
    list-style-type: none;
    border-radius: 5px;
    height: 100%;
}

.spot-image-container li img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#img1 {
    grid-area: img1;
    
}

#img2 {
    grid-area: img2;

}

#img3 {
    grid-area: img3;
}

#img4 {
    grid-area: img4;
}

#img5 {
    grid-area: img5;
}

.host-details {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding-bottom: 20px;
    margin: 20px 0;
    border-bottom: 1px solid rgb(224, 218, 218);
    height: 200px;
}

#price-review {
    height: 100px;
    display: grid;
    grid-template-areas: 
    "price review"
    "reserve reserve";
    padding: 20px;
    border: 1px solid rgb(224, 218, 218);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(224, 218, 218)
}

#price {
    grid-area: price;
}

#review {
    grid-area: review;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5px;
}


#reserve-button {
    grid-area: reserve;
    margin-top: 5px;
    width: 100%;
    height: 30px;
    color: white;
    border: none;
    background-color: rgb(232, 118, 118);
    border-radius: 5px;
    cursor: pointer;
}

#spot-reivew {
    background-color: pink;
}